@model IEnumerable<EShop.Domain.DomainModels.Product>

@{
    ViewData["Title"] = "Products";
}

<h1 class="text-center m-5">Available products</h1>

<div class="row justify-content-center">
    <div class="col">
        <a asp-action="Create" class="btn btn-outline-secondary">Create New Product</a>
        <table class="table" id="productsTable">
            <thead style="color: lightcoral">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        Details
                    </th>
                    @*<th>
                        Add to Cart
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            <img src="@item.ProductImage" style="width: 100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice) $
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @*@if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                            {
                                <btn data-movie-id="@item.Id" class="btn btn-link js-delete">Delete</btn>
                            }*@
                        </td>
                        <td>
                            <a href="/Products/AddToCart?productId=@item.Id" class="btn btn-primary">Add To Cart</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>
    <script>
        $(document).ready(function () {
            $("#productsTable").DataTable({});
        })
    </script>
}
