@using Microsoft.Extensions.Options
@inject IOptions<EShop.Domain.StripeSettings> Stripe

@model EShop.Domain.DTO.ShoppingCartDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Shopping Cart</h1>

@if (Model.ProductsInShoppingCarts.Count == 0)
{
    <h5>No products in shopping cart</h5>
}
else
{
    <div class="row">
        <div class="form-group">
            @*<a href="/ShoppingCart/OrderNow" class="btn btn-warning">Order Now</a>*@
            @if (Model.TotalPrice != 0)
            {
                <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
                    <article>
                        <script src="https://checkout.stripe.com/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-locale="auto"
                                data-description="EShop Application Payment"
                                data-amount="@(Model.TotalPrice * 100)"
                                data-label="Pay $@Model.TotalPrice">
                        </script>
                    </article>
                </form>
            }
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1">
                    #
                </th>
                <th class="col">
                    Product Name
                </th>
                <th class="col">
                    Quantity
                </th>
                <th class="col">
                    Price
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
                foreach (var item in Model.ProductsInShoppingCarts)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>
                        <td>
                            @item.Product.ProductName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Product.ProductPrice
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/ShoppingCart/DeleteFromShoppingCart/@item.Product.Id">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>

        <tfoot>
            <tr>
                <th>Total: </th>
                <th></th>
                <th></th>
                <th></th>
                <th> @Model.TotalPrice</th>
            </tr>
        </tfoot>

    </table>
}
